/* media queries */

@media screen and (max-width: 430px) {
  header {
    padding: 0 15px;
    margin-bottom: -50px;
  }

  .form__section {
    width: 100%;
  }

  form > div {
    width: 100%;
    flex-direction: column;
  }

  form input,
  form select {
    width: 100%;
  }
}

@media screen  and (max-width:840px){
    header{
        margin-bottom: -20px;
    }
    nav ul{
        gap: 25px;
      }
    
      nav ul li > a{
        font-size: 1.2rem;
      }
      .form__section {
        width: 90%;
      }
      form > div{
        gap: 30px;
      }
      form input,
      form select {
        width: 100%;
      }
}
